@import "./mixins.scss";
@import "./colors.scss";

#members-wrapper {
  margin-top: 100px;

  .header-comp {
    z-index: 2;
  }

  .content-wrapper {
    position: relative;
    top: -75px;
    padding: 100px 0 25px 25px;
    margin: 0 20px 400px;

    h2 {
      @include header-medium;
    }
  }
}
